<h1>I shortened that for you!</h1>

<p>
  Your new URL is 
  <a href="<%= url(url.hash) %>"><%= url(url.hash) %></a>. It
points to
  <a href="<%= url(url.url) %>"><%= url.url %></a>.
</p>

<p>
  For your copy and pasting pleasure:
</p>

<p>
  <textarea cols="64"><%= url(url.hash) %></textarea>
</p>

<p>Enjoy!</p>